.invalid {
    border: 2px solid rgb(224, 77, 19);
}

.nameWarning, .emailWarning , .telWarning {
    padding-left: 20px;
    
 display:inline;
 color: rgb(224, 77, 19);
}

textarea{
    margin-top: 1em;
}
.valid{
    border: 2px solid lightgrey;
}